.grid {
	display: grid;
	grid-template-columns: 600px 150px;
	grid-template-rows: 50px 400px 50px;
}
header {
	grid-column: 1 / 2;
	grid-row: 1 / 1;
	background-color: #ccc;
}
main {
	background-color: gray;
	grid-column: 1 / 1;
	grid-row: 2 / 2;
}
aside {
	background-color: #eee;
	grid-column: 2 / 2;
	grid-row: 2 / 2;
}
footer {
	grid-column: 1 / 2;
	grid-row: 3 / 3;
	background-color: #252525;
}