.grid {
	display: grid;
	grid-template-columns: 600px 150px;
	grid-template-rows: 50px 400px 50px;
	grid-template-areas: "header header"
						 "main aside"
						 "footer footer";
}
header {
	grid-area: header;
	background-color: #ccc;
}
main {
	background-color: gray;
	grid-area: main;
}
aside {
	background-color: #eee;
	grid-area: aside;
}
footer {
	grid-area: footer;
	background-color: #bbb;
}